{% extends 'flatpages/default.html' %}
<!--{% load custom_filters %}-->
{% block title %}
Новости
{% endblock %}
{% block content %}
<div class="header">
<h2>Главная страница</h2>
</div>
<div class="content table-responsive table-full-width">
 <table class="table table-hover">
                                    <thead>
                                        <th>Название</th>
                                    	<th>Дата</th>
                                    	<th>Кратко</th>
                                    </thead>
     <tbody>
     {% for el in news %}
     <tr><td><a href="{% url 'news-detail' el.id %}">{{ el.title }}</a></td><td>{{ el.date }}</td><td>{{ el.text|slice:":20" }} ...</td></tr>
     {% endfor %}
     </tbody>
 </table>
<!--         {% for el in news %}-->
<!--    <h3>{{ el.title }}</h3><p>{{ el.date }}</p><p>{{ el.text|slice:":20" }}...</p>-->
<!--     {% endfor %}-->
</div>


{% endblock %}