{% extends 'flatpages/default.html' %}

{% block title %}
Новости
{% endblock %}
{% block content %}
<div class="header">
<h1>Главная страница</h1>
</div>
<p>Новости</p>
<div class="content table-responsive table-full-width">
 <table class="table table-hover">
                                    <thead>
                                        <th>Название</th>
                                    	<th>Дата</th>
                                    	<th>Кратко</th>
                                    </thead>
     <tbody>
     {% for el in values %}
     <tr><th>{{ el }}</th></tr>
     {% endfor %}
     </tbody>
 </table>
</div>

{% endblock %}